{% extends "base.html" %}

{% block content %}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <h1>Добавление книги</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="title") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        {{ form.author.label }}<br>
            {{ form.author(class="form-control", type="author") }}<br>
            {% for error in form.author.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        {{ form.time_for_reading.label }}<br>
            {{ form.time_for_reading(class="form-control", type="time_for_reading") }}<br>
            {% for error in form.time_for_reading.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        {{ form.about.label }}<br>
            {{ form.about(class="form-control", type="about") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        {{ form.book.label }}<br>
            {{ form.book(class="form-control", type="book") }}<br>
            {% for error in form.book.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <div class="form-group">
                                        <label for="photo">Приложите фотографию</label>
                                        <input type="file" class="form-control-file" id="photo" name="file">
            </div>
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>

{% endblock %}